body {
    background-color: aliceblue;
    background-size: cover;
}

.centralizar {
    /*background-color: blanchedalmond;*/
    width: 880px;
    height: 550px;
    margin: auto;
}

.quadrado {
    border-radius: 15%;
    box-shadow: 5px 5px 5px black;
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
}